.blog-section {
    padding: 10px 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
  
  .blog-container {
    max-width: 1040px;
    margin: 0 auto;
  }
  
  .blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
  
.blog-title {
    font-size: 36px;
    font-weight: 800;
    color: #2b303a;
    margin: 0;
}
  
.blog-view-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    background-color: transparent;
    border: 1px solid #c7d2fe;
    border-radius: 999px;
    color: #4f46e5;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}
  
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 30px;
}
  
.blog-card {
    position: relative;
    max-width: 304px;
    height: 320px; 
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}
  
.blog-img-wrapper {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px; 
}
  
.blog-img {
    max-width: 400px;
    max-height: auto;
    object-fit: contain; 
}
  
  .blog-overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 20px 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .blog-card-title {
    font-size: 20px;
    font-weight: 700;
    color: #1a1d24;
    line-height: 1.35;
    margin: 0 0 16px 0;
  }
  
  .blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blog-tag {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 12px;
  }
  
  .tag-blue {
    background-color: #eef2ff;
    color: #4f46e5;
  }
  
  .tag-red {
    background-color: #fef2f2;
    color: #ef4444;
  }
  
  .blog-date {
    font-size: 12px;
    color: #6b7280;
  }
  

  @media (max-width: 900px) {
    .blog-container{
      margin: 20px;
    }

    .blog-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .blog-container{
      margin: 20px;
    }

    .blog-grid {
      grid-template-columns: 1fr;
    }
}